<% if resource.errors.any? %>
  <div id="error_explanation" class='bg-red-300 mt-2 rounded-md p-2'>
    <div class="font-bold">Error:</div>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
