<div class="w-full max-w-xs sticky [height:fit-content] [top:72px] hidden lg:block">
  <img src="https://www.deminimis.com.au/uploads/2/7/6/0/27609311/local-singles_orig.jpg" alt="" class='pt-20'>
  <img src="https://www.deminimis.com.au/uploads/2/7/6/0/27609311/local-singles_orig.jpg" alt="" class='pt-20'>
  <img src="https://www.deminimis.com.au/uploads/2/7/6/0/27609311/local-singles_orig.jpg" alt="" class='pt-20 hidden 2xl:block'>
</div>
