<div class="bg-gray-200 flex flex-column w-full flex-1 justify-evenly">
  <div class="bg-green-800 w-full max-w-xs">
  </div>
  <div class='bg-blue-400 flex-1 w-full max-w-screen-lg'>
    <%= render 'submit' %>
  </div>
  <div class="bg-green-800 w-full max-w-xs">
  </div>
</div>
